@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* { margin: 0; padding: 0; 
    font-family: 'Noto Sans KR', sans-serif; 
    color: #fff;
   /*  background-color: #000; */
  }

::-webkit-scrollbar { display:none;}

.main { width: 100%;
  height: 100vh;
  background-image: url("../img/main_img1.jpg");
  background-size: cover; text-align: center; 
}


header { 
  width: 100%; 
  top: 0;
  left: 1%;
  position: fixed; 
  z-index :99999;
  mix-blend-mode: difference;
  
}

.home {
  width: 100%;
}

.logo-text {
  background: none;
}
.logo-text > a {  
  font-size: 407px;
  font-weight: 300;
  mix-blend-mode: overlay;
  background: none;
}

.logo-text > a:hover {  
  font-size: 407px;
  font-weight: 300;
  mix-blend-mode: normal;
  mix-blend-mode: none;
}

.menu {
  display: inline-block;
  margin: 42px 0 0 1150px;
  list-style-type: none;
  height: 100%;
  background: none;
}  

.menu > li {
  float:left; 
  list-style: none;
  display:block;
  padding: 0 30px 30px 0;
  text-transform: uppercase;
  mix-blend-mode: difference;
  
}
.menu::after {
  content:"";
  display:table;
  clear:both;
}

.menu > li > a {
  font-weight: 300;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1.5px;
  background: none;
}
.menu > li > a:hover {
  color:#eb1b28;
  font-weight: 900;
  background: none;
}

/* logo  */
.main img {
  width: 182px;
  padding-top: 25px;
  float: left;
  padding-left: 35px;
}

/* floating text */
.mt { 
  
  overflow: hidden;
  float: left;
  width: 100%;
  height: 75px;
  background-color: #000;
  margin-top: 5px;
} 
.mt div {
    letter-spacing: -0.3px;
    line-height: 68px;
    text-align: left;
    font-weight: 100;
    font-size: 68px;
    position: relative;
    animation: mt linear 13s infinite;
   /*  text-decoration: underline; */
} 
@keyframes mt {
  0% { right: -100% }
  100% { right: 100% }
}
.mt:hover div {
  animation-play-state: paused;
}

/* story */
article.story {
  background-color: #000; 
  width: 100%; 
  height: 1200px;
}
article.story > div { width: 95%; margin: 0 auto; padding-top: 60px;}

.member-pic {
     width: 48vw;
    height: 44vh;
    margin: 0 auto;
}

.basic {
  background-image: url("../img/member-a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.park {
  background-image: url("../img/member-park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.lee {
  background-image: url("../img/member-lee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.song {
  background-image: url("../img/member-song.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.kim {
  background-image: url("../img/member-kim.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#four {
  width: 90%;
  padding-top: 20px;
  font-size: 67px;
  font-weight: 100;
  height: 280px;
  margin: 0 auto;
  line-height: 80px;
  /*  */
}

/* typing */
.typing {  

  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
  @keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}


.people {
  clear: both;
  padding-top: 73px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.people li {
  height: 200px; 
  list-style: none; 
  width: 25%;
  padding: 20px 0;
  float: left;
  font-size: 15px;
  text-align: center;
}

.people li h2 { 
  font-size: 18px; 
  font-weight: 300;
}

.people li h2:hover {
  color: #eb1b28;
}


article.story .people li p {
  font-weight: lighter;
  padding-top: 32px;
  margin: 0 20px;
}

/* shop */

.shop { 
  background-color: #ffffff; 
  width: 100%; 
  padding-top: 30px; }

.shop > div { 
  width: 95%;
  margin: 0 auto;}

.title {
  font-size: 60px;
  /* text-decoration: underline; */
  font-weight: 500;
  letter-spacing: 5px;
}
.title-shop {
  font-size: 60px;
  /* text-decoration: underline; */
  font-weight: 500;
  color: #000;
  letter-spacing: 5px;
}

.coffee {
  padding-top: 26px;
  width: 100%;
  margin: 0 auto; 
}

.list-area { 
  width: 100%;
  margin: 0 auto;
}
.coffee-list {
  display: inline-block;
}
.coffee-item { 
  text-decoration: none;
  width: 40vw;
  height: 50vh;
  float: left;
  margin: 40px 40px;
  position: relative;
}
/* mask {
  position: relative;
  height: 400px;
  width: 61px;
  overflow: hidden;
  margin: 0px 0 0 120px;
} */
.mask {
  position: relative;
  height: 400px;
  width: 61px;
  overflow: hidden;
  margin: 0px 0 0 120px;
  transition: .3s ease-in-out;
}
.bigmask {
  position: relative;
  height: 400px;
  width: 158px;
  overflow: hidden;
  margin: 0px 0 0 120px;
  transition: .3s ease-in-out;
}
.coffee-item img {
  height: 400px;
  position: absolute;
  right: -157px;
}
.c-title {
  position: absolute;
  top: 130px;
  left: 315px;
  color: #000;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 15px;
}

.c-name {
  position: absolute;
  top: 180px;
  left: 315px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
}

.c-name-effect {
  content: "";
  display: block;
  transform: translateY(-50%);
  height: 2px;
  background-color: #000000;
  transition: .3s ease-in-out;
  z-index: 2;
  width: 30%;
}

/* GOODS */

.goods-list {
  display: inline-block;
}
.goods-item { 
  text-decoration: none;
  width: 40vw;
  height: 50vh;
  float: left;
  margin: 40px 40px;
  position: relative;
}
.goods-mask {
  position: relative;
  height: 400px;
  width: 170px;
  overflow: hidden;
  margin: 0px 0 0 120px;
  transition: .3s ease-in-out;

}
.goods-bigmask {
  position: relative;
  height: 400px;
  width: 380px;
  overflow: hidden;
  margin: 0px 0 0 10px;
  transition: .3s ease-in-out;
}
.goods-item img {
  height: 380px;
  position: absolute;
  right: 5px;  
}


.g-title {
  position: absolute;
  top: 190px;
  left: 315px;
  color: #000;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 15px;
}

.g-name {
  position: absolute;
  top: 240px;
  left: 315px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
}

.g-name-effect {
  content: "";
  transform: translateY(-50%);
  height: 2px;
  width: 210px;
  background-color: #000000;
  transition: .3s ease-in-out;
  z-index: 2;
}

/* video */
article.video { 
  background-color: #000; 
  width: 100%;
  height: 100vh;
  clear: both;
}

/* member */
.member {
  background-color: #000; 
  width: 100%;
  height: 1050px;
  padding-top: 60px;
}
article.member > div { 
  width: 95%; 
  margin: 0 auto;
}

.Wmember-pic {
  width: 80%;
  margin: 0 auto;
}

.member-pic-list {
  padding-top: 60px;
  float: left;
  width: 100%;
  
}

.member-pic-item {
  width: 300px;
  height: 300px;
  list-style: none;
  float: left;
  margin: 30px;
}

/* card */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back > h1 {
  margin-top: 135px;
  font-weight: 100;
  position: absolute;
  left: 4%;
  top: -124px;
  background-color: black;
  height: 23px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0 5px;
}

/* BUTTON */
.m-but {
  clear: both;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  
}

.m-but a {
  width: 200px;
  height: 54px;
  border-radius: 45px;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  line-height: 53px;
}

.m-but a:hover{
  color: #ffffff;
  background-color: #eb1b28;
}



/* contact */

article.contact { 
  background-image: url("../img/main_img1.jpg");
  background-size: cover; 
  width: 100vw;
  height: 93vh;
padding-top: 60px;}

.info {
  width: 95%; margin: 0 auto;}

.info ul  {
  padding-top: 155px;
}
.contact-list { 
  font-size: 15px;
  list-style: none;
  width: 33.3333%;
  padding: 20px 0 20px 15px;
  background-color: black;
  font-weight: 100;
}

.contact-title { 
  font-size: 18px; 
  text-transform: uppercase; 
  padding-bottom: 18px;}

.map { 
  width: 95%; 
  margin: 0 auto;}

  